---
http_interactions:
- request:
    method: post
    uri: https://api.lockitron.com/v2/locks/a397ef51-7b33-46dd-9a96-53eb1a7ea07f/keys
    body:
      encoding: UTF-8
      string: access_token=<OAUTH_TOKEN>&email=someone%40example.com&start=1436383927
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"1bcf6d6f70f1484fad0121550cd63e25"'
    body:
      encoding: UTF-8
      string: '{"id":"7f02c05a-b94d-4c5a-814e-3bb5a07603b9","start_date":null,"expiration_date":null,"role":"guest","valid":true,"visible":true,"sms_pin":null,"access_key":null,"user":{"id":"41d0322d-b03d-4eef-935b-904e05831496","email":"someone@example.com","phone":null,"full_name":null,"first_name":null,"last_name":null,"activated":false,"changing_phone":false,"changing_email":false,"facebook":false,"avatar_url":"http://lockitron-avatars-dev.s3.amazonaws.com/avatars/system/icon_avatar_lockitron.png"}}'
  recorded_at: Wed, 08 Jul 2015 19:32:07 GMT
- request:
    method: post
    uri: https://api.lockitron.com/v2/locks/a397ef51-7b33-46dd-9a96-53eb1a7ea07f/keys
    body:
      encoding: UTF-8
      string: access_token=<OAUTH_TOKEN>&email=someone2%40example.com&start=1436387127
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"69dabdd81c8b7eb37102ce9b5b6b57c4"'
    body:
      encoding: UTF-8
      string: '{"id":"402d031d-21be-4442-9bbb-2ce07ccf84b0","start_date":null,"expiration_date":null,"role":"guest","valid":true,"visible":true,"sms_pin":null,"access_key":null,"user":{"id":"40d877eb-03f4-4d66-b631-80f3d54fd832","email":"someone2@example.com","phone":null,"full_name":null,"first_name":null,"last_name":null,"activated":false,"changing_phone":false,"changing_email":false,"facebook":false,"avatar_url":"http://lockitron-avatars-dev.s3.amazonaws.com/avatars/system/icon_avatar_lockitron.png"}}'
  recorded_at: Wed, 08 Jul 2015 19:32:08 GMT
recorded_with: VCR 2.9.3
