---
http_interactions:
- request:
    method: get
    uri: https://api.lockitron.com/v2/locks/a397ef51-7b33-46dd-9a96-53eb1a7ea07f?access_token=<OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a397ef51-7b33-46dd-9a96-53eb1a7ea07f","name":"Gem Test","next_wake":null,"last_heard_from":null,"state":"lock","button_type":"slider","updated_at":"2015-04-30T17:50:21Z","handedness":"unsupported","avr_version":"unsupported","battery_voltage":"unsupported","sleep_period":null,"avr_update_progress":null,"ble_update_progress":null,"serial_number":"WRLYO-TYPTR-PTKAT-UXBMQCQ","hardware_id":null,"connected":null,"time_zone":"US/Pacific","keys":[{"id":"fc3ddc9f-d093-4436-beda-81906f71a6e5","start_date":null,"expiration_date":null,"role":"guest","valid":true,"visible":true,"sms_pin":null,"access_key":null,"user":{"id":"00e191a6-190e-46bf-a0f1-b8718312da2c","email":"example@lockitron.com","phone":null,"full_name":"Example
        User","first_name":"Example","last_name":"User","activated":false,"changing_phone":false,"changing_email":false,"facebook":false,"avatar_url":"http://lockitron-avatars-dev.s3.amazonaws.com/avatars/system/icon_avatar_lockitron.png"}},{"id":"cee75f80-c36d-41fc-9bb9-f250fafe2cbc","start_date":null,"expiration_date":null,"role":"owner","valid":true,"visible":true,"sms_pin":"f244","access_key":null,"user":{"id":"6c121f58-0cc9-11e2-984d-4040401f6100","email":"kurtisnelson@gmail.com","phone":"+14075120689","full_name":"Kurt
        Nelson","first_name":"Kurt","last_name":"Nelson","activated":true,"changing_phone":false,"changing_email":false,"facebook":true,"avatar_url":"http://lockitron-avatars-dev.s3.amazonaws.com/avatars/system/icon_avatar_lockitron.png"}}],"sms":false}'
  recorded_at: Wed, 08 Jul 2015 19:12:45 GMT
recorded_with: VCR 2.9.3
