---
http_interactions:
- request:
    method: post
    uri: https://api.lockitron.com/v1/locks/a397ef51-7b33-46dd-9a96-53eb1a7ea07f/unlock
    body:
      encoding: US-ASCII
      string: access_token=<OAUTH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5b658e78866d68be74b91664f528aa32"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"activity":{"id":"75f3b8f5-b594-4326-ab6c-34ccddc5346d","lock_name":"Gem
        Test","lock_id":"a397ef51-7b33-46dd-9a96-53eb1a7ea07f","key_id":"cee75f80-c36d-41fc-9bb9-f250fafe2cbc","outcome":false,"human_outcome":"notice","type":4,"human_type":"lock-updated-unlocked","performed_at":1372025172.30165,"user":{"id":"6c121f58-0cc9-11e2-984d-4040401f6100","email":"kurtisnelson@gmail.com","phone":"+14075120689","human_phone":"(407)
        512-0689","first_name":"Kurt","last_name":"Nelson","full_name":"Kurt Nelson","best_name":"Kurt
        Nelson","activated":true}}}'
  recorded_at: Sun, 23 Jun 2013 22:07:20 GMT
recorded_with: VCR 2.5.0
