---
http_interactions:
- request:
    method: get
    uri: https://api.lockitron.com/v2/locks?access_token=<OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"0433dabf-dd78-4599-a9cb-5cb8258f5df0","name":"611 @ Windsor","next_wake":"2015-05-12T06:55:14Z","last_heard_from":"2015-05-12T06:55:14Z","state":"lock","button_type":"slider","updated_at":"2015-05-09T15:16:02Z","handedness":"locked","avr_version":1418069060,"battery_voltage":4.4,"sleep_period":1800,"avr_update_progress":100,"ble_update_progress":100,"serial_number":null,"hardware_id":"20000c2a6904479f","connected":null,"time_zone":"America/New_York","keys":[{"id":"4fc2b433-57c3-479a-9707-7d35694212fc","start_date":null,"expiration_date":null,"role":"admin","valid":true,"visible":true,"sms_pin":null,"access_key":null,"user":{"id":"3dc981f0-35f6-43f7-a48d-6d202448f53f","email":"aaron.hoodin@gmail.com","phone":"6785918040","full_name":"Aaron
        Hoodin","first_name":"Aaron","last_name":"Hoodin","activated":true,"changing_phone":false,"changing_email":false,"facebook":false,"avatar_url":"http://lockitron-avatars-dev.s3.amazonaws.com/avatars/system/icon_avatar_lockitron.png"}},{"id":"d937d400-183d-4de9-8fe9-1864cc3ca3cc","start_date":null,"expiration_date":null,"role":"owner","valid":true,"visible":true,"sms_pin":"da14","access_key":null,"user":{"id":"6c121f58-0cc9-11e2-984d-4040401f6100","email":"kurtisnelson@gmail.com","phone":"+14075120689","full_name":"Kurt
        Nelson","first_name":"Kurt","last_name":"Nelson","activated":true,"changing_phone":false,"changing_email":false,"facebook":true,"avatar_url":"http://lockitron-avatars-dev.s3.amazonaws.com/avatars/system/icon_avatar_lockitron.png"}}],"sms":false},{"id":"a397ef51-7b33-46dd-9a96-53eb1a7ea07f","name":"Gem
        Test","next_wake":null,"last_heard_from":null,"state":"lock","button_type":"slider","updated_at":"2015-04-30T17:50:21Z","handedness":"unsupported","avr_version":"unsupported","battery_voltage":"unsupported","sleep_period":null,"avr_update_progress":null,"ble_update_progress":null,"serial_number":"WRLYO-TYPTR-PTKAT-UXBMQCQ","hardware_id":null,"connected":null,"time_zone":"US/Pacific","keys":[{"id":"fc3ddc9f-d093-4436-beda-819[...]
